<%- include('partials/navbar'); %>
<div class="jumbotron ">
    
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-1 m-auto  position-fixed" id="sticky-sidebar">
               <p>
                   Enna yaaralum edhuvum panna mudiyadhu
               </p>
            </div> -->
            <div class="col" id="main">
                <% if(notifs_list) {%>  
                <% notifs_list.forEach(function (item) { %> 
                <div class="row mt-5">
                    <div class="col-md-6 m-auto">
                        
                            <%= item.description %> &emsp;
                       
                            <%date= new Date(item.date) 
                            var dd = String(date.getDate()).padStart(2, '0');
                            var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = date.getFullYear();
                            var today = dd + '/' + mm + '/' + yyyy;%>
                            <%=today+','%>
                            <%=date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()  %>
                            &emsp;&emsp;
                        
                        
                        
                        <% if(item.userid){ %>  
                            <% var accept='/notif/accept/'+item.userid+'/'+item.community_id %>
                            <% var reject='/notif/reject/'+item.userid+'/'+item.community_id %>
                            <a class="btn btn-success btn-sm" href=<%=accept%>>
                                Accept
                            </a>  &nbsp;
                            <a class="btn btn-danger btn-sm" href=<%=reject%> >
                                Reject
                            </a>   
                        <% } %> 
                        <% if(!item.userid){ %> 
                            <% var clear='/notif/clear/'+item.description.split(' ').join('+')%>
                        <% console.log(clear+" is the path here") %>
                            <a class="btn btn-sm" href= <%=clear%> >
                                x
                            </a> 
                        <% } %>      
                    </div>
                </div>
            <% });%>
            <% } %> 
            </div>
           
        </div>
    </div>
 
    </div>
      